
div.cards_pane{
    /* display: -webkit-flex;
    display: flex; */
    margin: auto;
    width: auto;
    /* border: 3px solid green; */
    padding: 10px;
}

div.pane {
    /* border: thick solid black;     */
    display: -webkit-flex;
    display: flex;
    margin: auto;
    width: auto;
    padding: 5px;
    min-height: 200px;
    overflow: hidden;
    background-color: lightgrey;
}

div.flex-item {
    /* background-color: green; */
    width: 350px;
    /* height: 350px; */
    height: auto;
    margin: auto;
}

div#table {
    height: auto;
    width: auto;
    
}

/* #table-container {
    height: 100%;
    width: 100%; */
    /* background-color: green; */
    /* outline-color: black; */
    /* align-content: center;
    display: table;
} */

p {
    color: black;
}

img.cardSelected {
    outline-color: blue;
    outline-style: solid;
    outline-width: 2px;
}

img.cards {
    padding: 3px;
}

img.cardPlayable {
    outline-color: red!important;
    outline-style: solid!important;
    outline-width: 2px!important;
}

img.cardToPlay {
    background-color: yellow;
    box-shadow: 0px 12px 22px 1px #333;
}

/* #West {
    position: relative;
    margin-left: 0px; */
    /* padding-left: 0px;
    padding-right: 50px; */
    /* padding-left: 0px;
    padding-right: 200px; */
/* } */

/* #North {
    position: relative;
    margin-top: 0px; */
    /* padding-top: 0px;
    padding-bottom: 200px; */ 
    /* padding-bottom: 200px; */
/* } */

/* #East {
    position: relative;
    margin-right: 0px; */
    /* padding-right: 0px;
    padding-left: 50px; */
    /* padding-left: 200px; */
/* }  */

div#player {
    width: 65%;
    display: block;
    /* display: flex; */
}

/* .played {
    display: table-cell;
    outline-color: red;
    padding: 5px;
} */

table#playing-table {
    table-layout: relative;
    width: 750px;
    height: 100px;
    border: 15px solid rgb(119, 44, 44);
    border-radius: 15px;
    background-color: darkgreen;
    text-align: center;
}

td {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgreen;

}

td#status {
    color: white;
}

div.score, div#button-panel {
    text-align: center;
}

button.op-button {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
}

div.score p {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}




