#event_div {
    border: thin solid black;
}

#event_log {
    height: 150px;
    overflow: auto;
    border: thin solid black;
}

#hand_display {
    position: relative;
    height: 550px;
    border: thin solid black;
}

#north_hand {
    float: left;
    margin-left: 25px;
}

#east_hand {
    float: left;
    margin-left: 25px;
}

#south_hand {
    float: left;
    margin-left: 25px;
}

#west_hand {
    float: left;
    margin-left: 25px;
}

