#player_div {
    position: relative;
    height: 600px;
    width: 600px;
    border: thin solid black;
}

.text_player_message_log {
    width: 600px;
    height: 500px;
    overflow: auto;
    border: thin solid black;
}

.text_player_input {
    width: 90%;
    margin-left: 5%;
}